* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 main{
      width: 75%;
      /* height: 100%; */
     margin: 50px auto;
     /* border: 1px solid grey; */
     display: grid;
     /* grid-template-rows: 60px 100px 200px 60px; */
     /* grid-template-columns: repeat(3,1fr) 100px; */
     grid-template-columns: 390px 662px;
     color: white;
     /* grid-gap: 20px; */
     /* grid-column-gap: 0px; */
     /* grid-gap: -10; */
     /* column-gap: normal; */
     /* position: absolute; */
 }

 .sideleft{
    /* background-color: #3498db; */
    /* grid-column: 1/-1; */
    grid-row: 1/2;
    /* width: 100vh;
    height: 100vh; */
}


.sideimg{
   height: 1121px;
   width: 390px;
}

.sideright{
    /* background-color: #e74c3c; */
    grid-row: 2/-1;
    /* grid-column-gap: 5; */
    /* position: absolute; */
}


.firstrow{
    background: URL('./assets/tophead.png');
    /* height: 157px;
    width: 662px; */

    height: 157px;
    width: 662px;
    background-color: #1262B8;
    box-shadow: 0 7px 14px 0 rgba(0,0,0,0.06);
     position: relative;
}


.close{
    background: URL('./assets/close.png');
    height: 80px;
    width: 80px; 
    /* background-color: red; */
    /* position: absolute; */
    /* float: right;
    margin-bottom: 124px; */
    /* top: 0;
    right: 0; */
    /* left: 10; */
    position: absolute;
    /* float: right; */
    top: -30px;
    right: -40px;
    /* padding-bottom: 20px!important; */
    /* padding-left: 624px; */
   /*  */


  
    
  }

  .close-line{
    height: 20px;
    width: 20px;
    background-color: #000000;
    padding: 15px;
  }

.secondrow{
   background: URL('./assets/white-react.png');
     /* height: 1121px;   */
     /* width: 1051px;   */

     /* height: 1100px; */

   /* min-height: 200px; */
   height: 965px;
   width: 662px;
   border-radius: 10px;
   background-color: #FFFFFF;
   /* background-color: red; */
   box-shadow: 0 7px 14px 0 rgba(0,0,0,0.06);
   position: relative;
}

.heading {
   height: 87px;
   width: 470px;
 }
 .heading1{
    height: 910px;
    width: 560px;
  }



 .getin {
    height: 39px;
    /* width: 312px; */
    color: #FFFFFF;
    font-family: Caros;
    font-weight:300;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 40px;
    padding-top: 35px;
    padding-left: 51px;
    padding-right: 141px;
    padding-bottom: 83px;
  }

  .fillout{
    height: 33px;
    width: 470px;
    color: #FFFFFF;
    font-family: Caros;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 33px;
    position: absolute;
    top: 89px;
    left: 51px;
  }


  .personal{
    height: 33px;
    width: 115px;
    opacity: 0.5;
    color: #465060;
    font-family: Caros;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.64px;
    line-height: 33px;
    padding-top: 25px;
    padding-left: 50px;  
    position: relative;
  }

  form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex:auto; */
  }

 .user-details .input-box .detailsfirst{
   
    height: 15px;
    width: 76px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    margin-left: 55px;
    /* padding-top: 45px!important; */
   /* margin-top:5rem; */
}


form .user-details .input-box{
    /* width: calc(100%/2-20px); */
    /* background-color: red; */
    margin-top: 25px;
    /* flex: 50% 50%; */
    margin-left: 5px;
}

.user-details .input-box .firstinput{
    background: URL('./assets/Rectangle.png');
    height: 51px;
    width: 270px;
    border-radius: 10px;
    background-color: #F8F8FA;
    margin-left: 55px;
}

.user-details .input-box .firstinput .jordan{
    height: 16px;
    width: 74px;
    color: #465060;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
   padding-top: 17px;
   padding-left: 15px;
   padding-right: 181px;
}



.user-details .input-last-box .detailslast{
   
    height: 15px;
    width: 76px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
}



 .input-last-box {
   position: absolute;
   top: 59px;
   left: 345px;
  
}

.user-details .input-last-box .lastinput{
    background: URL('./assets/Rectangle.png');
    height: 51px;
    width: 270px;
    border-radius: 10px;
    background-color: #F8F8FA;
}

.user-details .input-last-box .lastinput .decibel{
    height: 16px;
    width: 74px;
    color: #465060;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
   padding-top: 17px;
   padding-left: 15px;
   padding-right: 181px;
}


.input-email-box{
    position: absolute;
    top: 154px;
    left: 59px;
}

.user-details .input-email-box .detailsemail{
   
    height: 15px;
    width: 76px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
}


.user-details .input-email-box .emailinput{
    background: URL('./assets/Rectangle.png');
    height: 51px;
    width: 270px;
    border-radius: 10px;
    background-color: #F8F8FA;
}

.user-details .input-email-box .emailinput .johnmail{
    height: 16px;
    width: 74px;
    color: #465060;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
   padding-top: 17px;
   padding-left: 15px;
   padding-right: 181px;
}


.input-phone-box{
    position: absolute;
    top: 152px;
    left: 345px;
}

.user-details .input-phone-box .detailsphone{
   
    height: 15px;
    width: 76px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
}


.user-details .input-phone-box .phoneinput{
    background: URL('./assets/Rectangle phone.png');
    height: 51px;
    width: 270px;
    border-radius: 10px;
    background-color: #F8F8FA;
}

.user-details .input-phone-box .phoneinput .johnnumber{
    height: 16px;
    width: 74px;
    color: #465060;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding-top: 16px;
    padding-left: 15px;
   padding-right: 230px;
   padding-bottom: 19px;
}



.user-details .input-phone-box .phoneinput .johnarrow{
    background: URL('./assets/Path.png');
    /* height: 11px;
    width: 6px;
    transform: rotate(-90deg);
    background-color: #99A5B7; */
    /* padding-left: 59px; */


    /* height: 11px;
    width: 6px;
    transform: rotate(-360deg); */
    /* background-color: #99A5B7; */



    height: 6px;
    width: 14px;
    transform: rotate(-360deg);
  /* -webkit-transform: rotate(45deg); */
    /* background-color: #99A5B7; */
    /* padding-top: 0px!important; */
    /* padding-right: 23px!important; */
    position: absolute;
    top: 43px;
    left: 49px;
}



.user-details .input-phone-box .phoneinput .johnline{
    box-sizing: border-box;
    height: 22px;
    width: 1px;
    border: 1px solid rgba(153,165,183,0.37);

    position: absolute;
    top: 37px;
    left: 75px;
}


.user-details .input-phone-box .phoneinput .johnlinenumber{
    /* box-sizing: border-box;
    height: 22px;
    width: 1px;
    border: 1px solid rgba(153,165,183,0.37); */

    position: absolute;
    top: 37px;
    left: 95px;


    height: 16px;
    width: 84px;
    color: #465060;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
  
}



.heading2{
    /* height: 580px;
    width: 560px; */
    /* padding-top: 5px; */
    /* position: relative; */
    position: absolute;
    top: 255px;
}

.education{
    height: 33px;
    width: 129px;
    opacity: 0.5;
    color: #465060;
    font-family: Caros;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.64px;
    line-height: 33px;
    padding-left: 50px;  
    /* position: relative; */
    /* position: absolute; */
    /* top: -20px; */
    /* padding-top: 25px; */
}



form .education-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex:auto; */
  }





  .input-qual-box{
    position: absolute;
    top: 44px;
    left: 59px;
}



.education-details .input-qual-box .detailsqual{
   
    height: 15px;
    width: 76px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
}


.education-details .input-qual-box .qualificationinput{
    background: URL('./assets/Rectangle.png');
    height: 51px;
    width: 270px;
    border-radius: 10px;
    background-color: #F8F8FA;
}

.education-details .input-qual-box .qualificationinput .ug{
    height: 16px;
  width: 107px;
  color: #465060;
  font-family: Caros;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  padding-left: 15px;
  padding-top: 17px;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}


.ugicon{
    background: URL('./assets/Path.png');
    height: 6px;
    width: 14px;
    transform: rotate(-360deg);
  /* -webkit-transform: rotate(45deg); */
    /* background-color: #99A5B7; */
    /* padding-top: 0px!important; */
    /* padding-right: 23px!important; */
    position: absolute;
    top: 42px;
    right: 20px;
  
}




.input-pref-box{
    position: absolute;
    top: 44px;
    left: 340px;
}



.education-details .input-pref-box .detailspref{
   
    height: 15px;
    width: 76px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
}


.education-details .input-pref-box .preferedinput{
    background: URL('./assets/Rectangle.png');
    height: 51px;
    width: 270px;
    border-radius: 10px;
    background-color: #F8F8FA;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
}

.education-details .input-pref-box .preferedinput .uk{
    height: 16px;
  width: 107px;
  color: #465060;
  font-family: Caros;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  padding-left: 15px;
  padding-top: 17px;
}


.ukicon{
    background: URL('./assets/Path.png');
    height: 6px;
    width: 14px;
    transform: rotate(-360deg);
  /* -webkit-transform: rotate(45deg); */
    /* background-color: #99A5B7; */
    /* padding-top: 0px!important; */
    /* padding-right: 23px!important; */
    position: absolute;
    top: 22px;
    right: 20px;
  
}



.input-area-box{
    position: absolute;
    top: 144px;
    left: 59px;
}


.education-details .input-area-box .detailsarea{
   
    height: 15px;
    width: 76px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
}


.education-details .input-area-box .areainput{
    background: URL('./assets/long.png');
    height: 51px;
    width: 560px;
    border-radius: 10px;
    background-color: #F8F8FA;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
}

.education-details .input-area-box .areainput .areaevent{
    height: 16px;
  width: 328px;
  color: #465060;
  font-family: Caros;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  padding-left: 15px;
  padding-top: 17px;
}


 .areaicon{
    background: URL('./assets/Path.png');
    height: 6px;
    width: 14px;
    transform: rotate(-360deg);
  /* -webkit-transform: rotate(45deg); */
    /* background-color: #99A5B7; */
    /* padding-top: 0px!important; */
    /* padding-right: 23px!important; */
    position: absolute;
    top: 22px;
    right: 28px;
  
}



form .interested-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex:auto; */
  }




.heading3{
    /* height: 189px;
  width: 560px; */
  position: absolute;
  top: 500px;
}

.interested{
    height: 15px;
    width: 380px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    padding-left: 59px;  
}



.input-trial-box{
    position: absolute;
    top: 44px;
    left: 59px;
}



.interested-details .input-trial-box .trialinput{
    background: URL('./assets/bigreactangle.png');
    height: 78px;
    width: 270px;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* background-color: red; */
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    position: relative;
}

.interested-details .input-trial-box .trialinput .trial{

  height: 16px;
  width: 180px;
  color: #99A5B7;
  font-family: Caros;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  padding-left: 47px;
  padding-top: 28px; 
}



.interested-details .input-trial-box .trialinput .trialicon{
    height: 33px;
    width: 37px;
    background: URL('./assets/trialicon.png');
    box-sizing: border-box;
    position: absolute;
    top: 20px!important;
    left: 30px!important;
}




.input-test-box{
    position: absolute;
    top: 44px;
    left: 345px;
}


.interested-details .input-test-box .testinput{
    background: URL('./assets/bigreactangle.png');
    height: 78px;
    width: 270px;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* background-color: red; */
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    position: relative;
}




.interested-details .input-test-box .testinput .test{

    height: 16px;
    width: 180px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding-left: 47px;
    padding-top: 28px; 
  }
  
  
  
  .interested-details .input-test-box .testinput .testicon{
    height: 32px;
    width: 29px;
      background: URL('./assets/testnotebook.png');
      box-sizing: border-box;
      position: absolute;
      top: 20px!important;
      left: 30px!important;
  }





  .input-application-box{
    position: absolute;
    /* top: 44px;
    left: 345px; */
    top: 130px;
    left: 59px;
}




.interested-details .input-application-box .applicationinput{
    background: URL('./assets/bigreactangle.png');
    height: 78px;
    width: 270px;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* background-color: red; */
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    position: relative;
}




.interested-details .input-application-box .applicationinput .application{

    height: 16px;
    width: 180px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding-left: 45px;
    padding-top: 28px; 
  }


  .interested-details .input-application-box .applicationinput .applicationicon{
    height: 33px;
    width: 35px;
    background: URL('./assets/loan.png');
    box-sizing: border-box;
    position: absolute;
    top: 20px!important;
    left: 32px!important;
}


  .input-counselling-box{
    position: absolute;
    top: 130px;
    left: 345px;
}


.interested-details .input-counselling-box .counsellinginput{
    background: URL('./assets/bigreactangle.png');
    height: 78px;
    width: 270px;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* background-color: red; */
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    position: relative;
}



.interested-details .input-counselling-box .counsellinginput .visa{

    height: 16px;
    width: 180px;
    color: #99A5B7;
    font-family: Caros;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding-left: 47px;
    padding-top: 28px; 
  }
  
  
  
  .interested-details .input-counselling-box .counsellinginput .visaicon{
    height: 35px;
    width: 25px;
      background: URL('./assets/visaicon.png');
      box-sizing: border-box;
      position: absolute;
      top: 20px!important;
      left: 30px!important;
  }




  .heading4{
    position: absolute;
    top: 730px;
}


.questions{
    /* height: 15px;
    width: 282px; */

    height: 15px;
    width: 380px;


    color: #99A5B7;
    font-family: Caros;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    padding-left: 59px;  
}


.input-question-box{
    position: absolute;
    top: 24px;
    left: 59px;
}



.questions-details .input-question-box .questioninput{
    background: URL('./assets/questionreactangle.png');
    height: 51px;
    width: 560px;
    border-radius: 10px;
    background-color: #F8F8FA;
    /* background-color: red; */
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    position: relative;

}


.questions-details .input-question-box .questioninput .questiontext{

    height: 16px;
  width: 600px;
  color: #99A5B7;
  font-family: Caros;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
    padding-right: 393px!important;
    padding-top: 17px!important; 
    padding-left: 15px!important;
  }








  .heading5{
    position: absolute;
    top: 80px;
}



.input-tick-box{
    position: absolute;
    top: 24px;
    left: 50px;
}


.tick-details .input-tick-box .tickinput .tickicon{
    background: URL('./assets/tickicon.png');
    height: 20px;
    width: 20px;
    /* border-radius: 10px;
    background-color: #F8F8FA; */
    /* background-color: red; */
    /* box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


 .ticktext{

    height: 16px;
  width: 1800px;
  color: #465060;
  font-family: Caros;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
    padding-left: 30px!important;
    margin-top: -17px!important;
  }


  .heading6{
    /* height: 50px;
     width: 314px; */

     position: absolute;
     top: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
  }


  .button{
    height: 50px;
    width: 314px;
    border-radius: 10px;
    background-color: #FCB017;
    background: URL('./assets/button.png');
    margin-left: 173px!important;
  }